.App {
  min-height: 100vh;
  background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
  padding: 20px;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.App-header {
  text-align: center;
  color: white;
  margin-bottom: 40px;
}

.App-header h1 {
  font-size: 3em;
  margin: 20px 0 10px 0;
}

.App-header p {
  font-size: 1.2em;
  opacity: 0.9;
}


.upload-container {
  max-width: 600px;
  margin: 0 auto;
  background: white;
  border-radius: 20px;
  padding: 40px;
  box-shadow: 0 20px 60px #2c2c2c;
}



.raw-text {
  margin-top: 20px;
  padding: 15px;
  background: #f1f1f1;
  border-radius: 8px;
  cursor: pointer;
}

.raw-text summary {
  font-weight: bold;
  color: #667eea;
  cursor: pointer;
  user-select: none;
}

.raw-text pre {
  margin-top: 15px;
  padding: 15px;
  background: rgb(255, 255, 255);
  border-radius: 8px;
  overflow-x: auto;
  font-size: 0.9em;
  color: #313131;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.no-items {
  margin-top: 30px;
  padding: 20px;
  background: #fff3cd;
  border-radius: 10px;
  border-left: 4px solid #ffc108;
}

.no-items p {
  color: #866604;
  margin-bottom: 15px;
}